Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
a= "Neeraj"
print(type(a))

<class 'str'>

In [2]:
list1=['neer','nisha','23','66',44,[5,6,7,7]]
print(type(list1))

<class 'list'>

In [4]:
r=677.55
print(type(r))

<class 'float'>

In [5]:
t = (2,3,3,4,"neer")
print(type(t))

<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [6]:
var1 = ' '
var2 = '[ DS , ML , Python]'
Var3 = [ 'DS' , 'ML' , 'Python' ]
Var4 = 1.
print(type(var1))
print(type(var2))
print(type(Var3))
print(type(Var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [10]:
#1: Division Operator : It divides the number completely and the result of the operation will be float class type.
a = 10
b = 2
c = 3
d = a/b
e = a/c
print(d, type(d))
print(e, type(e))

5.0 <class 'float'>
3.3333333333333335 <class 'float'>

In [13]:
#2 Modulus or Modulo - returns the remainder of a division
a%b
a%c
print(a%b)
print(a%c)

0
1

In [15]:
#3  // It is also call integer division becouse it give result only in integer it exclude the remainder. Example is given below
x = 36
y = 6
z = 5

In [16]:
x//y

6

In [17]:
x//z

7

In [18]:
#4 ** Exponentiation (2 ki power 2 = 4)
2**2

4

In [19]:
x = 10
y = 2
x**y

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
*italicized text*

In [25]:
lst = [23,34,"Neer",[76,44,"raj"],"kumar",87,88,(6,7,8),{6,7},66]
for i in lst:
  print(f"Element: {i}, Data Type: {type(i)}")

Element: 23, Data Type: <class 'int'>
Element: 34, Data Type: <class 'int'>
Element: Neer, Data Type: <class 'str'>
Element: [76, 44, 'raj'], Data Type: <class 'list'>
Element: kumar, Data Type: <class 'str'>
Element: 87, Data Type: <class 'int'>
Element: 88, Data Type: <class 'int'>
Element: (6, 7, 8), Data Type: <class 'tuple'>
Element: {6, 7}, Data Type: <class 'set'>
Element: 66, Data Type: <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:
def is_divisible(a, b):
    if b == 0:
        return "B cannot be zero."
    count = 0
    while a % b == 0:
        a = a / b
        count += 1
    if count > 0:
        return f"{a} is divisible by {b}, {count} times."
    else:
        return f"{a} is not divisible by {b}."

# Example usage:
A = 256
B = 2
result = is_divisible(A, B)
print(result)

1.0 is divisible by 2, 8 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [27]:
lst = [3,55,6,8,8,8,8,99,44,55,66,77,22,33,3,4,45,5,78,56,43,23,43,56,76,78,96,69,91,34,34,76,87,56,498,998,56,76]
for z in lst:
  if z%3 == 0 :
   print(f"{z} is divisible by 3" )
  else :
   print(f"{z} is not divisible by 3")

3 is divisible by 3
55 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
8 is not divisible by 3
8 is not divisible by 3
8 is not divisible by 3
99 is divisible by 3
44 is not divisible by 3
55 is not divisible by 3
66 is divisible by 3
77 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
3 is divisible by 3
4 is not divisible by 3
45 is divisible by 3
5 is not divisible by 3
78 is divisible by 3
56 is not divisible by 3
43 is not divisible by 3
23 is not divisible by 3
43 is not divisible by 3
56 is not divisible by 3
76 is not divisible by 3
78 is divisible by 3
96 is divisible by 3
69 is divisible by 3
91 is not divisible by 3
34 is not divisible by 3
34 is not divisible by 3
76 is not divisible by 3
87 is divisible by 3
56 is not divisible by 3
498 is divisible by 3
998 is not divisible by 3
56 is not divisible by 3
76 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable Data Types

Immutable data types are those whose values cannot be changed after they are created. If you try to modify an immutable object, Python will create a new object with the modified value, leaving the original object unchanged.

Examples of immutable data types in Python:

int

float

complex

str

tuple

frozenset

Mutable Data Types
Mutable data types are those whose values can be changed after they are created. When you modify a mutable object, you are changing the same object in memory, not creating a new one.

Examples of mutable data types in Python:

list

dict

set

In [28]:
# Integer is immutable
x = 10
print(f"Original x: {x}, id(x): {id(x)}")  # Print original x and its memory address

x = x + 5  # Assign a new value to x (creates a new object)
print(f"Modified x: {x}, id(x): {id(x)}")  # Print modified x and its new memory address

# String is immutable
s = "hello"
print(f"Original s: {s}, id(s): {id(s)}")

s = s + " world" # Creates new String
print(f"Modified s: {s}, id(s): {id(s)}")

# Tuple is immutable
t = (1, 2, 3)
print(f"Original t: {t}, id(t): {id(t)}")

t = t + (4,5) # Creates new tuple
print(f"Modified t: {t}, id(t): {id(t)}")

Original x: 10, id(x): 10751144
Modified x: 15, id(x): 10751304
Original s: hello, id(s): 135826771211056
Modified s: hello world, id(s): 135825395872304
Original t: (1, 2, 3), id(t): 135825396852096
Modified t: (1, 2, 3, 4, 5), id(t): 135825399673888

In [29]:
# List is mutable
my_list = [1, 2, 3]
print(f"Original list: {my_list}, id(my_list): {id(my_list)}")

my_list.append(4)  # Modifies the original list
print(f"Modified list: {my_list}, id(my_list): {id(my_list)}")

# Dictionary is mutable
my_dict = {"name": "Alice", "age": 30}
print(f"Original dict: {my_dict}, id(my_dict): {id(my_dict)}")
my_dict["age"] = 31  # Modifies the original dictionary
print(f"Modified dict: {my_dict}, id(my_dict): {id(my_dict)}")

# Set is mutable
my_set = {1, 2, 3}
print(f"Original set: {my_set}, id(my_set): {id(my_set)}")
my_set.add(4)
print(f"Modified set: {my_set}, id(my_set): {id(my_set)}")

Original list: [1, 2, 3], id(my_list): 135825395865024
Modified list: [1, 2, 3, 4], id(my_list): 135825395865024
Original dict: {'name': 'Alice', 'age': 30}, id(my_dict): 135825396976960
Modified dict: {'name': 'Alice', 'age': 31}, id(my_dict): 135825396976960
Original set: {1, 2, 3}, id(my_set): 135825398053152
Modified set: {1, 2, 3, 4}, id(my_set): 135825398053152