Q1 : How do you comment code in Python? What are the different types of comments?

There are two type of comment in python.
1) Singleline Comment (#)

2) Multiline Comment example are given below ('''......''')

In [ ]:
# This is a single-line comment
print("Hello, World!") # This is an inline comment

In [ ]:
"""
This is a multi-line "comment"
It can span multiple lines.
It is also a docstring.
"""
def my_function():
    """
    This is a docstring for my_function.
    It explains what the function does.
    """
    print("Function called")

Q2. What are variables in Python? How do you declare and assign values to variables?

Storage: Variables store data in the computer's memory.

Names: They are given names (identifiers) so you can refer to the stored data.

Dynamic Typing: Python is dynamically typed, meaning you don't need to declare the data type of a variable explicitly. The interpreter1 infers the type based on the assigned value.

In [ ]:
age = 30  # Assigning an integer value
name = "Alice"  # Assigning a string value
pi = 3.14159  # Assigning a floating-point value
is_student = True # Assigning a boolean value.

Q3. How do you convert one data type to another in Python?

In [ ]:
x = "123"
y = int(x)
print(y)  # Output: 123

123

In [ ]:
x = "3.14"
y = float(x)
print(y)  # Output: 3.14

3.14

In [ ]:
x = 123
y = str(x)
print(y)  # Output: "123"

123

In [ ]:
x = "hello"
y = list(x)
print(y)  # Output: ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

In [ ]:
x = [1,2,3]
y = tuple(x)
print(y) #output: (1, 2, 3)

(1, 2, 3)

In [ ]:
  x = 10
  y = 3.14
  z = x + y
  print(z)  # Output: 13.14
  print(type(z)) #output: <class 'float'>

13.14
<class 'float'>

Q4. How do you write and execute a Python script from the command line?

Executing the Script from the Command Line:

Open the Command Line/Terminal:

Windows: Search for "cmd" or "Command Prompt" in the Start menu.


Navigate to the Script's Directory:

Use the cd (change directory) command to navigate to the folder where you saved your Python script.

For example, if your script is in a folder named "my_python_scripts" on your desktop:

Windows: cd Desktop\my_python_scripts


Run the Script:

Type python (or python3 on some systems) followed by the name of your script file, and press Enter.

Example: python my_script.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

omplex numbers! They're a fascinating extension of the real number system.

In mathematics, a complex number is a number that can be expressed in the form:


a+bi


where:


'a' is the real part of the complex number.

'b' is the imaginary part of the complex number.

'i' is the imaginary unit, defined as the square root of -1.

Think of it as adding a new dimension to numbers. Real numbers exist on a number line. Complex numbers exist on a 2D plane called the complex plane, where the horizontal axis represents the real part and the vertical axis represents the imaginary part.

In [2]:
a = 4+4j
print(type(a))

<class 'complex'>

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [3]:
price = 9.99
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [4]:
name = 'Neeraj'
print(name)

Neeraj

Q10. Given the string "Hello, World!", extract the substring "World".

In [7]:

my_string = "Hello, World!"
substring = my_string[7:12]
print(substring)

World

In [5]:
a = "Hello World"
print(a[6:])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [8]:
is_student=False