### Data structures
data structures are essential tools for organizing and managing data. They allow you to store and manipulate collections of data efficiently. Python provides several built-in data structures, and you can also implement more complex ones. Here's a breakdown:

Built-in Data Structures:

These are fundamental data structures that Python provides:

#Lists:

Ordered, mutable sequences of items.

Can contain elements of different data types.

Created using square brackets [].

Example: [1, "apple", 3.14]


#Tuples:
Ordered, immutable sequences of items.

Similar to lists, but cannot be modified after creation.

Created using parentheses ().

Example: (1, "apple", 3.14)'

# Dictionaries:
Unordered collections of key-value pairs.

Keys must be unique and immutable.

Values can be of any data type.

Created using curly braces {}.

Example: {"name": "Alice", "age": 30}

# Sets:
Unordered collections of unique items.

Useful for operations like membership testing and removing duplicates.

Created using curly braces {} or the set() function.

Example: {1, 2, 3}

#  Other Important Data Structures (Often from Libraries):

While the above are built in, these are very common, and important to know.

## Arrays:

Provided by the array module or, more commonly, the NumPy library.

Store collections of items of the same data type.

Efficient for numerical operations.

## Stacks:

Follow the Last-In-First-Out (LIFO) principle.

Can be implemented using lists.

## Queues:
Follow the First-In-First-Out (FIFO) principle.

Can be implemented using lists or the collections.deque class.

## Linked Lists:
Sequences of nodes, where each node points to the next.

Useful for dynamic data storage.

## Trees:
Hierarchical data structures with a root node and child nodes.

Used for representing relationships between data.

## Graphs:
Collections of nodes (vertices) and edges that connect them.

Used for representing networks and relationships.

## Key Considerations:

Mutability:
Understanding whether a data structure is mutable (changeable) or immutable is crucial.

Ordering:
Some data structures maintain the order of elements, while others do not.

Efficiency: Different data structures have different strengths and weaknesses in terms of performance.

Understanding data structures is fundamental to writing efficient and effective Python code.

In [2]:
fruits = ["apple", "banana", "cherry", "date"]

print(fruits)  # Output: ['apple', 'banana', 'cherry', 'date']

    # Accessing elements
print(fruits[0])  # Output: apple
print(fruits[-1]) # Output: date

    # Modifying lists
fruits.append("elderberry")
print(fruits) #output: ['apple', 'banana', 'cherry', 'date', 'elderberry']

fruits[1] = "grape"
print(fruits) #output: ['apple', 'grape', 'cherry', 'date', 'elderberry']
fruits.pop(2) #removes the element at index 2.
print(fruits) #output: ['apple', 'grape', 'date', 'elderberry']

['apple', 'banana', 'cherry', 'date']
apple
date
['apple', 'banana', 'cherry', 'date', 'elderberry']
['apple', 'grape', 'cherry', 'date', 'elderberry']
['apple', 'grape', 'date', 'elderberry']

In [3]:
coordinates = (10, 20)
print(coordinates)  # Output: (10, 20)

    # Accessing elements
print(coordinates[0])  # Output: 10
print(coordinates[1])  # Output: 20

    # Tuples are immutable, so you can't modify them directly:
    # coordinates[0] = 15  # This would cause an error!

(10, 20)
10
20

In [4]:
student = {"name": "Alice", "age": 20, "major": "Computer Science"}
print(student)  # Output: {'name': 'Alice', 'age': 20, 'major': 'Computer Science'}

    # Accessing values
print(student["name"])  # Output: Alice
print(student.get("age")) #output: 20

    # Modifying dictionaries
student["age"] = 21
student["city"] = "New York"
print(student) #output: {'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'city': 'New York'}

del student["major"]
print(student) #output: {'name': 'Alice', 'age': 21, 'city': 'New York'}

{'name': 'Alice', 'age': 20, 'major': 'Computer Science'}
Alice
20
{'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'city': 'New York'}
{'name': 'Alice', 'age': 21, 'city': 'New York'}

In [ ]:
unique_numbers = {1, 2, 3, 4, 4, 5}
print(unique_numbers)  # Output: {1, 2, 3, 4, 5} (duplicates are removed)

    # Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))  # Output: {1, 2, 3, 4, 5}
print(set1.intersection(set2))  # Output: {3}
print(set1.difference(set2)) #output: {1,2}

Important Notes:

Lists are very flexible and commonly used.

Tuples are useful when you need immutable sequences.

Dictionaries are excellent for storing and retrieving data using keys.

Sets are great for working with unique collections of items.

In [5]:
marks = [34,23,34,21,67,77,98,5,5,6,67,7,6]
len(marks)

13

In [6]:
marks.append(333) #Adds an item to the end.

In [8]:
print(marks)

[34, 23, 34, 21, 67, 77, 98, 5, 5, 6, 67, 7, 6, 333]

In [9]:
marks[0]

34

In [10]:
marks[:2]

[34, 23]

In [11]:
marks[2:]

[34, 21, 67, 77, 98, 5, 5, 6, 67, 7, 6, 333]

In [12]:
marks[-1]

333

In [13]:
# Appends elements from an iterable.
marks.extend([344,444])

In [27]:
print(marks)

[34, 99, 23, 21, 67, 77, 98, 5, 5, 6, 67, 7, 6, 344]

In [21]:
marks.remove(444) #Removes the first occurrence of an item.

In [23]:
marks.insert(1,99) #Inserts an item at a specific index.

In [25]:
removed_item = marks.pop(3) #Removes and returns the item at a given index (default: last)

In [26]:
print(removed_item)

34

In [30]:
marks.index(marks[3])

3

1. Lists (list)

Description: Ordered, mutable sequences.

    my_list = [10, 20, "hello", 3.14]
    print(my_list)

Methods:

append(item): Adds an item to the end.

    my_list.append(40)

extend(iterable): Appends elements from an iterable.


    my_list.extend([50, 60])
insert(index, item): Inserts an item at a specific index.


    my_list.insert(1, 15)
remove(item): Removes the first occurrence of an item.


    my_list.remove("hello")
pop(index=-1): Removes and returns the item at a given index (default: last).

    removed_item = my_list.pop(0)
index(item): Returns the index of the first occurrence of an item.


    index_20 = my_list.index(20)
count(item): Returns the number of occurrences of an item.

    count_40 = my_list.count(40)
sort(): Sorts the list in place.

    my_list.sort() # for numerical values.
    reverse(): Reverses the list in place.

    my_list.reverse()
clear(): Removes all items from the list.

    my_list.clear()
Properties (Technically accessed through functions):

    len(list): Returns the length of the list.

2. Tuples (tuple)

Description: Ordered, immutable sequences.

    my_tuple = (10, 20, "hello", 3.14)
    print(my_tuple)

Methods:

count(item): Returns the number of occurrences of an item.

index(item): Returns the index of the first occurrence of an item.1

len(tuple): Returns the length of the tuple.

3. Dictionaries (dict)

Description: Unordered collections of key-value pairs.
Example:
Python

    my_dict = {"name": "Alice", "age": 30, "city": "New York"}
    print(my_dict)

Methods:
keys(): Returns a view object of keys.


    keys = my_dict.keys()
values(): Returns a view object of values.


    values = my_dict.values()
items(): Returns a view object of key-value pairs (tuples).


    items = my_dict.items()
get(key, default=None): Returns the value for a key, or a default value if the key is not found.


    age = my_dict.get("age")

pop(key, default=None): Removes and returns the value for a key.


    city = my_dict.pop("city")

update(other_dict): Updates the dictionary with key-value pairs from another dictionary or iterable.

    my_dict.update({"job": "engineer"})
clear(): Removes all items from the dictionary.


    my_dict.clear()

len(dict): Returns the number of key-value pairs.
4. Sets (set)

Description: Unordered collections of unique items.


    my_set = {10, 20, 30, 40}
    print(my_set)
Methods:

add(item): Adds an item to the set.


    my_set.add(50)
remove(item): Removes an item from the set (raises KeyError if not found).


    my_set.remove(20)
discard(item): Removes an item from the set (does not raise KeyError if not found).


    my_set.discard(60)
pop(): Removes and returns an arbitrary item from the set.


    popped_item = my_set.pop()
clear(): Removes all items from the set.

    my_set.clear()

union(other_set): Returns a new set with items from both sets.

intersection(other_set): Returns a new set with common items.

difference(other_set): Returns a new set with items in the first set but not the second.

symmetric_difference(other_set): returns a new set with items in either set, but not both.


len(set): Returns the number of items in the set.

TypeError: list expected at most 1 argument, got 2