### " All about Print() "

In [1]:
print("Hello Duniya", "This is my first Pyhton Print code")

Hello Duniya This is my first Pyhton Print code

In [2]:
print('Hello')
print('World')

Hello
World

In [3]:
print("Hello", "world", sep="-")

Hello-world

In [4]:
print("Hello", "world")

Hello world

In [5]:
print("Hello")

Hello

In [6]:
print("Hello", end="!")

Hello!

In [7]:
name = "Alice"
age = 30
print("Name:", name, "Age:", age)

Name: Alice Age: 30

In [8]:
name="neer"
print("My name is",name)

My name is neer

In [9]:
print("apple", "banana", "cherry", sep=", ", end=".\n")

apple, banana, cherry.

In [10]:
print("My","name","is","neer",sep="_",end=".\n")

My_name_is_neer.

In [11]:
with open("output.txt", "w") as f:
    print("This text goes to the file.", file=f)

In [12]:
name = "Bob"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Bob and I am 25 years old.

In [13]:
name ="neer"
class_7 = "7th"
age = "9"
print(f"My name is {name}. I am {age} old and I am studying in {class_7}")

My name is neer. I am 9 old and I am studying in 7th

In [14]:
#this
#is
#single
#line
#comment
print('This is single line comment')

This is single line comment

In [16]:
'''
This
is multi
line
comment
'''
print("This is multiline comment")

This is multiline comment

In [20]:
a = 10
b = 5
result = a + b
print(result)# Output: 15
print(a)

15
10

In [22]:
a = 10
b = 5
result = a - b
print(result) #Output: 5

5

In [28]:
a = 10
b = 5
result = a*b
print(result)
#Output:50

50

In [29]:
a = 10
b = 4
result = a / b
print(result) #Output: 2.5

2.5

In [31]:
a = 10
b = 4
result = a % b
print(result)# Output: 2 remainder

2

In [32]:
a = 11
b = 4
result = a % b
print(result)# Output: 2 remainder

3

In [38]:
a = 2
b = 3
result = a**b
print(result)# Output: 8

8

In [40]:
a=10
b=3
c= a**b
print(c)

1000

In [41]:
a = 10
b = 4
result = a // b
print(result)# Output: 2

2

In [42]:
a = 22
b = 4
result = a // b
print(result)#

5

In [43]:
a = 10
b = 5
c = 2
result = (a + b) * c - b / c
print(result)# O

27.5

In [44]:
number = 7
if number % 2 == 0:
  print("Even")
else:
  print("Odd")
# Output: Odd

Odd

In [45]:
# Finding how many full boxes can be made and the remaining items
items = 23
box_capacity = 5
full_boxes = items // box_capacity
remaining_items = items % box_capacity
print(f"Full boxes: {full_boxes}, Remaining items: {remaining_items}")
# Output: Full boxes: 4, Remaining items: 3

Full boxes: 4, Remaining items: 3

#Naming Convention in Python

Rules for Variable Names
Allowed Characters:
Variable names can contain letters (a-z, A-Z), digits (0-9), and underscores (_).

Start with a Letter or Underscore:
A variable name must begin with a letter or an underscore. It cannot start with a digit.

Case-Sensitive:
Python variable names are case-sensitive. myVar and myvar are distinct variables.

Avoid Reserved Keywords:
Do not use Python's reserved keywords (e.g., if, else, for, while, def, class) as variable names.

onventions (PEP 8):

The Python Enhancement Proposal 8 (PEP 8) provides style guidelines for Python code, including naming conventions. Here are the most common conventions:

Snake Case:
Use snake case for variable and function names.
Words are separated by underscores.
Examples: my_variable, total_count, user_name.

Descriptive Names:
Choose descriptive and meaningful names that clearly indicate the variable's purpose.
This enhances code readability.

Short but Meaningful:
While descriptive names are important, avoid excessively long names. Strive for a balance between clarity and conciseness.

Constants:
Use uppercase letters with underscores for constants.
Examples: PI, MAX_VALUE.
Avoid Single-Character Names (Except in Specific Cases):
Avoid using single-character variable names (e.g., i, j, x) except in situations like loop counters.
Why Conventions Matter:

Readability: Consistent naming makes code easier to read and understand, especially when working on large projects or collaborating with others.
Maintainability: Well-named variables make it simpler to modify and maintain code over time.

Consistency: Following conventions ensures that your code aligns with the broader Python community's style, promoting uniformity.

## Primitive Data Types: The Basic Building Blocks

Imagine primitive data types as the individual, basic LEGO bricks. They are the simplest, most fundamental data types that a programming language provides. They hold single values.

Characteristics:

They are built-in, meaning the programming language itself provides them.
They hold simple, single values.
They are immutable, which means their values cannot be changed after they are created. If you seem to change a primitive value, you are actually creating a new one.
Examples in Python:

Integers (int): Whole numbers like 10, -5, 0. (Think of these as solid, single-block LEGOs.)
Floating-point numbers (float): Numbers with decimal points like 3.14, -0.5. (Imagine these as slightly more complex, but still single, LEGO pieces.)
Booleans (bool): Represent truth values, either True or False. (Like a single LEGO switch that's either on or off.)
Strings (str): Sequences of characters like "hello", "Python". (While strings are made of characters, in python they are immutable, and for this reason are considered primitive. You can think of them as a single line of connected small lego pieces that cannot be altered

#Non-Primitive Data Types: The Complex Structures

#### Non-Primitive Data Types: The Complex Structures

Now, imagine non-primitive data types as the complex structures you can build with those LEGO bricks, like a house or a car. They are built from primitive data types and can hold collections of values.

Characteristics:

They are not built-in; they are created by the programmer or provided by libraries.
They can hold multiple values or complex data structures.
They are often mutable, meaning their values can be changed after they are created.
Examples in Python:

Lists (list): Ordered collections of items, like [1, 2, "apple"]. (Think of these as a row of LEGO bricks connected together.)
Tuples (tuple): Ordered, immutable collections, like (1, 2, "apple"). (Like a row of LEGO bricks that you can't change after building.)
Dictionaries (dict): Collections of key-value pairs, like {"name": "Alice", "age": 30}. (Imagine these as a LEGO structure with labeled compartments.)
Sets (set): Unordered collections of unique items, like {1, 2, 3}. (Like a pile of unique LEGO bricks.)
Classes/Objects: User-defined types that can hold data and functions. (Imagine these as complex LEGO creations with moving parts.)
Key Differences Summarized:

Simplicity: Primitive types are simple, single values; non-primitive types are complex, collections of values.
Mutability: Primitive types are generally immutable; non-primitive types are often mutable.
Built-in vs. User-defined: Primitive types are built-in; non-primitive types are built by the programmer or provided by libraries.
Memory allocation: Primitive datatypes take up a fixed amount of memory. Non-primitive datatypes can take up a variable amount of memory.

#Data types in Python

1. Numeric Types:

int (Integers):
These represent whole numbers, both positive and negative.
Example: x = 10, y = -5
float (Floating-point numbers):
These represent real numbers with decimal points.
Example: x = 3.14, y = -0.001
complex (Complex numbers):
These represent complex numbers in the form a + bj, where a is the real part and b is the imaginary part.
Example: x = 3 + 5j
2. Sequence Types:

str (Strings):
These represent sequences of characters.
They are immutable.
Example: x = "Hello", y = 'Python'
list (Lists):
These are ordered, mutable sequences of items.
They can contain elements of different data types.
Example: x = [1, 2, "apple", 3.5]
tuple (Tuples):
These are ordered, immutable sequences of items.
Example: x = (1, 2, "apple")
range (Ranges):
These represent sequences of numbers, often used in loops.
Example: x = range(6)
3. Mapping Type:

dict (Dictionaries):
These represent key-value pairs.
They are mutable.
Example: x = {"name": "Alice", "age": 30}
4. Set Types:

set (Sets):
These are unordered collections of unique items.
They are mutable.
Example: x = {1, 2, 3}
frozenset (Frozen Sets):
These are immutable versions of sets.
Example: x = frozenset({1,2,3})
5. Boolean Type:

bool (Booleans):
These represent truth values, either True or False.
Example: x = True, y = False
6. None Type:

NoneType (None):
This represents the absence of a value.
Example: x = None
Key Concepts:

Mutable vs. Immutable:
Mutable data types can be changed after they are created (e.g., lists, dictionaries, sets).
Immutable data types cannot be changed after they are created (e.g., strings, tuples).
Dynamic Typing:
Python's dynamic typing allows variables to change their data type during program execution.
type() Function:
You can use the type() function to determine the data type of a variable.
Example: print(type(x))

#Data type conversion
also known as type casting, allows you to change the data type of a variable. Here's a breakdown of the common types of data type conversions

1. Implicit Type Conversion (Coercion):

Python automatically performs implicit type conversion in certain situations, especially when dealing with numeric types.
It generally converts from a "smaller" type to a "larger" type to avoid data loss.

In [69]:
x = 10  # integer
y = 3.14  # float
z = x + y  # Python implicitly converts x to float
print(z)  # Output: 13.14
print(type(z))  # Output: <class 'float'>

13.14
<class 'float'>

2. Explicit Type Conversion (Type Casting):

You explicitly convert data types using built-in functions.
This is necessary when Python cannot automatically perform the conversion or when you need to control the conversion process.

In [70]:
#int() Converts a value to an integer.

In [71]:
x = "123"
y = int(x)
print(y)  # Output: 123
print(type(y)) #output: <class 'int'>

123
<class 'int'>

In [72]:
print(int(3.8)) #output: 3, the decimal is truncated.

3

In [73]:
#float Converts a value to a floating-point number.
x = "3.14"
y = float(x)
print(y)  # Output: 3.14
print(type(y)) #output: <class 'float'>

print(float(5)) #output 5.0

3.14
<class 'float'>
5.0

In [74]:
# bool() Converts a value to a boolean
print(bool(0))  # Output: False
print(bool(1))  # Output: True
print(bool("hello")) #output: True
print(bool("")) #output: False
print(bool([])) #output: False

False
True
True
False
False

In [75]:
# list()Converts an iterable (e.g., tuple, string) to a list
x = "hello"
y = list(x)
print(y)  # Output: ['h', 'e', 'l', 'l', 'o']
name = "neeraj prajapati"
name_alpa = list(name)
print(name_alpa)

['h', 'e', 'l', 'l', 'o']
['n', 'e', 'e', 'r', 'a', 'j', ' ', 'p', 'r', 'a', 'j', 'a', 'p', 'a', 't', 'i']

In [76]:
#tuple
x = [1, 2, 3]
y = tuple(x)
print(y)  # Output: (1, 2, 3)

(1, 2, 3)

In [77]:
#set
x = [1,2,2,3,4,4,5]
y = set(x)
print(y) #output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [78]:
#dict
x = [("a", 1), ("b", 2)]
y = dict(x)
print(y) #output: {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [79]:
x= "011111"
y=int(x,2)
print(y)

31

In [80]:
a= 5
b =5.0
c= a+b
print(type(c))

<class 'float'>

In [81]:
x="10"
y="20"
z=x+y
print(int(z))

1020

In [82]:
x=10.5
y=str(int(x))
print(y)

10

### Input Function > It takes default input string

In [83]:
var=input('Who are you ?')
print(var)

KeyboardInterrupt: Interrupted by user

In [ ]:
name = input("Type your name")
age = int(input("Enter you age"))
print(f"Your name is {name} and you are {age} year old")
print(type(name),type(age))

In [ ]:
name = input("Type your name")
age = int(input("Enter you age"))
print(f"Your name is {name} and you are {age} year old")

In [ ]:
print(((4+5)**2)%10)

In [ ]:
print(15*2//2)

In [ ]:
print((2+3*(2+4)/8-1)//100)

In [ ]:
a=5
b="6 "
print((str(a)+b)//10)

### Comparison  Operators
In Python, comparison operators are used to compare the values of two operands. They return a Boolean value, which is either True or False. These operators are fundamental for making decisions in your code, especially within conditional statements like if, elif, and else

1. Equal to (==):

This operator checks if two operands are equal.
x == y returns True if x is equal to y, and False otherwise.

In [84]:
x=5
y=6
z=x==y
print(z)

False

In [85]:
x = 5
y = 5
print(x == y)  # Output: True
print(x == 6) #output: False

True
False

2. Not equal to (!=):

This operator checks if two operands are not equal.
x != y returns True if x is not equal to y, and False otherwise.
Example:

In [87]:
x = 5
y = 10
print(x != y)  # Output: True
print(x != 3)
print(x != 5) #output: False

True
True
False

3. Greater than (>):

This operator checks if the left operand is greater than the right operand.
x > y returns True if x is greater than y, and False otherwise.
Example:

In [89]:
x = 10
y = 5
print(x > y)  # Output: True
print(x > 10) #output: False
print(x==10) #output : True

True
False
True

4. Less than (<):

This operator checks if the left operand is less than the right operand.
x < y returns True if x is less than y, and False otherwise.

In [91]:
x = 5
y = 10
print(x < y)  # Output: True
print(x < 5) #output: False

True
False

5. Greater than or equal to (>=):

This operator checks if the left operand is greater than or equal to the right operand.
x >= y returns True if x is greater than or equal to y, and False otherwise.

In [92]:
x = 10
y = 10
print(x >= y)  # Output: True
print(x >= 11) #output: False

True
False

6. Less than or equal to (<=):

This operator checks if the left operand is less than or equal to the right operand.
x <= y returns True if x is less than or equal to y, and False otherwise.

In [93]:
x = 5
y = 10
print(x <= y)  # Output: True
print(x <= 4) #output: False

True
False

Key Points:

Comparison operators are essential for control flow in Python.
They always return a Boolean value (True or False).
These operators can be used with various data types, including numbers, strings, and more.
When comparing strings, python uses lexicographical ordering.

In [ ]:
Practice

In [95]:
x = 15
result = (10 <= x <= 20)
print(result)# Output: True

True

In [97]:
age = 18
if age >= 18:
  print("You are eligible to vote.")
else:
  print("You are not eligible to vote.")
# Output: You are eligible to vote.

You are eligible to vote.

In [98]:
password = "P@ssw0rd123"
length = len(password)
if length >= 8 and any(char.isdigit() for char in password) and any(char.isupper() for char in password):
  print("Strong password")
else:
  print("Weak password")
# Output: Strong password

Strong password

In [101]:
str1 = "apple"
str2 = "banana"
result = (str1 < str2)
print(result)# Output: True

True

In [102]:
result = (5 == 5.0)
print(result)# Output: True

True

### Logical Operators
In Python, logical operators are used to combine or modify conditional statements. They work with Boolean values (True and False) and return a Boolean result. These operators are crucial for creating complex conditions in your code.

1. and Operator:

The and operator returns True if both operands are True. Otherwise, it returns False.
Think of it as:
"Both conditions must be true."
Truth table:

True and True -> True

True and False -> False

False and True -> False

False and False -> False

In [103]:
x = 5
y = 10
if x > 0 and y < 15:
    print("Both conditions are true.")
else:
    print("At least one condition is false.")

Both conditions are true.

# 2. or Operator:

The or operator returns True if at least one operand is True. It returns False only if both operands are False.
Think of it as: "At least one condition must be true."
Truth table:

True or True -> True

True or False -> True

False or True -> True

False or False -> False

In [107]:
x = -1
y = 10
if x > 0 or y < 5:
    print("At least one condition is true.")
else:
    print("Both conditions are false.")

Both conditions are false.

# 3. not Operator:

The not operator is a unary operator that negates the Boolean value of its operand.
If the operand is True,1 not returns False, and if the operand is False, not returns2 True.
Think of it as: "The opposite of the condition."
Truth table:

not True -> False

not False -> True

In [108]:
x = 5
if not x > 10:
    print("x is not greater than 10.")
else:
    print("x is greater than 10.")

x is not greater than 10.

In [109]:
age = 25
income = 50000
if age > 18 and income > 30000:
  print("Eligible for loan")
else:
  print("Not eligible for loan")
# Output: Eligible for loan

Eligible for loan

In [110]:
is_student = True
is_employed = False
if is_student or is_employed:
  print("Eligible for discount")
else:
  print("Not eligible for discount")
# Output: Eligible for discount

Eligible for discount

In [112]:
is_sunny = False
if not is_sunny:
  print("Take an umbrella")
else:
  print("No need for an umbrella")
# Output: Take an umbrella

Take an umbrella

In [113]:
age = 20
has_license = True
has_vehicle = False
if age >= 18 and has_license and (has_vehicle or not has_vehicle):
  print("Eligible for driving")
else:
  print("Not eligible for driving")
# Output: Eligible for driving

Eligible for driving

In [114]:
marks = 85
attendance = 90
if marks > 80 and attendance > 85 or (marks > 70 and attendance > 95):
    print("Eligible for scholarship")
else:
    print("Not eligible for scholarship")
# Output: Eligible for scholarship

Eligible for scholarship

In [116]:
username = "user123"
password = "pass123"
input_username = input("Enter username: ")
input_password = input("Enter password: ")
if input_username == username and input_password == password:
  print("Login successful")
else:
  print("Invalid credentials")

Enter username: user123
Enter password: pass123
Login successful

### Assignment operators
in Python are used to assign values to variables. They provide a concise way to perform arithmetic or bitwise operations and then assign the result to a variable. Here's a comprehensive overview:

1. Simple Assignment Operator (=):

This is the most basic assignment operator. It assigns the value on the right-hand side to the variable on the left-hand side

In [1]:
x = 10
name = "Alice"

In [2]:
a = 5
print(a)# Output: 5

5

2. Compound Assignment Operators:

These operators combine an arithmetic or bitwise operation with assignment.
They provide a shorthand way to modify the value of a variable.

+= (Addition assignment):

Adds the right operand to the left operand and assigns the result to the left operand.

x += y is equivalent to x = x + y.

In [4]:
x = 5
x += 3  # x becomes 8
print(x)

8

In [5]:
a = 5
a -= 2# Equivalent to a = a - 2
print(a)# Output: 3

3

-= (Subtraction assignment):

Subtracts the right operand from the left operand and assigns the result to the left operand.

x -= y is equivalent to x = x - y.

In [7]:
x = 10
x -= 4 # x becomes 6
print(x)

6

In [9]:
a = 5
a -= 2# Equivalent to a = a - 2
print(a)# Output: 3

3

*= (Multiplication assignment):

Multiplies the left operand by the right operand and assigns the result to the left operand.

x *= y is equivalent to x = x * y.

In [10]:
x = 3
x *= 6  # x becomes 18
print(x)

18

In [11]:
a = 5
a *= 4# Equivalent to a = a * 4
print(a)# Output: 20

20

/= (Division assignment):

Divides the left operand by the right operand and assigns the result to the left operand.

x /= y is equivalent to x = x / y.

In [12]:
x = 15
x /= 3  # x becomes 5.0 (float)
print(x)

5.0

In [13]:
a = 20
a /= 4# Equivalent to a = a / 4
print(a)# Output: 5.0

5.0

%= (Modulo assignment):

Calculates the modulo (remainder) of the left operand divided by the right operand and assigns the result to the left operand.

x %= y is equivalent to x = x % y.

In [14]:
x = 17
x %= 5  # x becomes 2
print(x)

2

In [15]:
 a = 10
a %= 3# Equivalent to a = a % 3
print(a)# Output: 1

1

**= (Exponentiation assignment):

Raises the left operand to the power of the right operand and assigns the result to the left operand.

x \*\*= y is equivalent to x = x \*\* y

In [18]:
x = 2
x **= 3  # x becomes 8

print(x)

8

In [20]:
a = 2
a **= 3 # Equivalent to a = a ** 3
print(a) # Output: 8

8

//= (Floor division assignment):

Performs floor division (division that rounds down to the nearest whole number) and assigns the result to the left operand.

x //= y is equivalent to x = x // y.

In [22]:
x = 17
x //= 3  # x becomes 5
print(x)

5

In [24]:
a = 10
a //= 3 # Equivalent to a = a // 3
print(a) # Output: 3

3

In [25]:
x = 5
y = 10
x += 2 # x = x + 2
y *= 3 # y = y * 3
print(x)  # Output: 7
print(y)  # Output: 30

7
30

In [28]:
n = 5
factorial = 1
for i in range(1, n + 1):
  factorial *= i  # factorial = factorial * i
print(factorial) # Output: 120

120

In [30]:
balance = 1000
# Depositing money
deposit = 200
balance += deposit # balance = balance + deposit
print(f"Balance after deposit: {balance}") # Output: Balance after deposit: 1200
# Withdrawing money
withdraw = 150
balance -= withdraw # balance = balance - withdraw
print(f"Balance after withdrawal: {balance}") # Output: Balance after withdrawal: 1050
# Applying annual interest rate
interest_rate = 0.05
balance *= (1 + interest_rate) # balance = balance * (1 + interest_rate)
print(f"Balance after interest: {balance}") # Output: Balance after interest: 1102.5

Balance after deposit: 1200
Balance after withdrawal: 1050
Balance after interest: 1102.5

In [31]:
a = b = c = 10
print(a, b, c) # Output: 10 10 10

10 10 10