### String
Strings in Python are sequences of characters, representing text. They are one of the most commonly used data types and offer a wide range of functionalities. Here's a comprehensive overview:

1. Creating Strings:

Strings can be created using single quotes ('...'), double quotes ("..."), or triple quotes ('''...''' or """...""").

Single and double quotes are interchangeable for simple strings.

Triple quotes are used for multi-line strings or strings containing single or double quotes.

In [2]:
    string1 = 'Hello, Python!'
    string2 = "This is a string."
    string3 = '''This is a
    multi-line string.'''
    string4 = """Also a multi-line string,
    with "double quotes" inside."""

In [2]:
# Defining a string using single quotes
single_quote_str = 'Hello, World!'
print(single_quote_str)# Output: Hello, World!

Hello, World!

In [3]:
# Defining a string using double quotes
double_quote_str = "Hello, World!"
print(double_quote_str)# Output: Hello, World!

Hello, World!

In [4]:
quote_str = "It's a beautiful day!"
print(quote_str)# Output: It's a beautiful day!

It's a beautiful day!

In [5]:
quote_str = 'He said, "Hello!"'
print(quote_str)# Output: He said, "Hello!"

He said, "Hello!"

In [6]:
# Using escape character for single quote
escape_str1 = 'It\'s a beautiful day!'
print(escape_str1)# Output: It's a beautiful day!

# Using escape character for double quote
escape_str2 = "He said, \"Hello!\""
print(escape_str2)# Output: He said, "Hello!"

It's a beautiful day!
He said, "Hello!"

In [7]:
newline_str = "Hello,\nWorld!"
print(newline_str)
# Output:
# Hello,
# World!

Hello,
World!

In [8]:
tab_str = "Hello,\tWorld!"
print(tab_str)# Output: Hello, World!

Hello,	World!

In [9]:
backspace_str = "Hello, \bWorld!"
print(backspace_str)# Output: Hello,World

Hello, World!

In [ ]:
str1 = "Hello"
str2 = "World"
concat_str = str1 + " " + str2
print(concat_str) # Output: Hello World

In [ ]:
length_str = "Hello, World!"
print(len(length_str)) # Output: 13

2. String Immutability:

Strings in Python are immutable, meaning you cannot change the characters within a string after it's created. Any operation that appears to modify a string actually creates a new string.

3. String Indexing and Slicing:

Strings are ordered sequences, so you can access individual characters using indexing.

Indexing starts from 0 for the first character.

Negative indexing starts from -1 for the last character.

Slicing allows you to extract portions of a string.

string[start:stop:step]

In [11]:
my_string = "Python"
print(my_string[0]) # Output: P
print(my_string[-1]) # Output: n
print(my_string[1:4]) # Output: yth
print(my_string[:3]) # Output: Pyt
print(my_string[2:]) # Output: thon
print(my_string[::2]) # Output: Pto

P
n
yth
Pyt
thon
Pto

In [ ]:
example_str = "Python"
# Positive Indexing
print(example_str[0]) # Output: P
print(example_str[1]) # Output: y
print(example_str[2]) # Output: t
print(example_str[3]) # Output: h
print(example_str[4]) # Output: o
print(example_str[5]) # Output: n
# Negative Indexing
print(example_str[-1])  # Output: n
print(example_str[-2])  # Output: o
print(example_str[-3])  # Output: h
print(example_str[-4])  # Output: t
print(example_str[-5])  # Output: y
print(example_str[-6])  # Output: P

In [13]:
example_str = "Python Programming"
# Slicing with positive indices
print(example_str[0:6]) # Output: Python
print(example_str[7:18]) # Output: Programming
print(example_str[7:]) # Output: Programming (from index 7 to the end)
print(example_str[:6])  # Output: Python (from start to index 6)
# Slicing with negative indices
print(example_str[-18:-12]) # Output: Python
print(example_str[-11:]) # Output: Programming

# Slicing with step
print(example_str[0:18:2]) # Output: Pto rgamn (every 2nd character)
print(example_str[::2]) # Output: Pto rgamn (from start to end, every 2nd character)
print(example_str[::3]) # Output: Ph oai (every 3rd character)
# Slicing with negative step (reversing the string)
print(example_str[::-1]) # Output: gnimmargorP nohtyP (reversed string)
print(example_str[18:0:-1]) # Output: gnimmargorP nohty

Python
Programming
Programming
Python
Python
Programming
Pto rgamn
Pto rgamn
Ph oai
gnimmargorP nohtyP
gnimmargorP nohty

In [14]:
print(example_str[:]) # Output: Python Programming (whole string)
print(example_str[7:]) # Output: Programming (from index 7 to the end)
print(example_str[:6]) # Output: Python (from start to index 6)
print(example_str[::1]) # Output: Python Programming (every character)
print(example_str[::2]) # Output: Pto rgamn (every 2nd character)

Python Programming
Programming
Python
Python Programming
Pto rgamn

In [15]:
reverse_str = "Python Programming"
# Reversing the entire string
print(reverse_str[::-1]) # Output: gnimmargorP nohtyP
# Reversing a substring
print(reverse_str[6:0:-1]) # Output: nohtyP (from index 6 to 1)
print(reverse_str[-1:-18:-2]) # Output: gimrPnhy (every 2nd character in reverse)

gnimmargorP nohtyP
 nohty
gimroPnhy

In [16]:
complex_str = "Data Science"
# Extract "Data"
print(complex_str[0:4])# Output: Data
# Extract "Science"
print(complex_str[5:])# Output: Science
# Extract "a Sc" (characters at index 1, 3, 5, 7)
print(complex_str[1:8:2]) # Output: a Sc
# Extract "ecneicS ataD" (reverse the entire string with step)
print(complex_str[::-1]) # Output: ecneicS ataD
# Extract "Sci" using negative indices
print(complex_str[-8:-5]) # Output: Sci

### Examples Combining Indexing and Slicing

combo_str = "Machine Learning"
# Indexing and slicing to get "Machine"
print(combo_str[0:7]) # Output: Machine
# Indexing and slicing to get "Learning"
print(combo_str[8:]) # Output: Learning
# Getting a specific character from a slice
slice_str = combo_str[0:7] # "Machine"
print(slice_str[3]) # Output: h
# Reverse a slice
print(combo_str[8:][::-1]) # Output: gninraeL

Data
Science
aaSi
ecneicS ataD
 Sc
Machine
Learning
h
gninraeL

In [17]:
# Defining strings with different quotes
single_quote_str = 'Single quotes'
double_quote_str = "Double quotes"
mixed_quote_str = "It's a mix of quotes"

# Special characters
special_char_str = "Hello,\nWorld!\tHow are you?\bGood!"
# Concatenation
concat_str = single_quote_str + " and " + double_quote_str
# Length
length_of_concat_str = len(concat_str)
# Indexing
first_char = concat_str[0]
last_char = concat_str[-1]
# Slicing
middle_section = concat_str[7:19]
# Printing all results
print(single_quote_str) # Output: Single quotes
print(double_quote_str) # Output: Double quotes
print(mixed_quote_str)  #Output: It's a mix of quotes
print(special_char_str)
# Output:
# Hello,
# World!	How are you?Good!
print(concat_str) # Output: Single quotes and Double quotes
print(length_of_concat_str) # Output: 31
print(first_char) # Output: S
print(last_char) # Output: s
print(middle_section) # Output: quotes and D

Single quotes
Double quotes
It's a mix of quotes
Hello,
World!	How are you?Good!
Single quotes and Double quotes
31
S
s
quotes and D

4. String Operations:

Concatenation (+): Combines two or more strings.

In [18]:
str1 = "Hello"
str2 = "World"
result = str1 + ", " + str2
print(result) #output: Hello, World

Hello, World

Repetition (*): Repeats a string multiple times.

In [20]:
str1 = "Madhu "
result = str1 * 4
print(result) #output: abcabcabc

Madhu Madhu Madhu Madhu

Membership (in, not in): Checks if a substring is present in a string.

In [21]:
str1 = "Python"
print("Py" in str1) #output: True
print("Java" not in str1) #output: True?

True
True

5. String Methods:

Python provides numerous built-in string methods for various operations:


len(): Returns the length of a string.

lower(): Converts a string to lowercase.

upper(): Converts a string to uppercase.

strip(): Removes leading and trailing whitespace.

split(): Splits a string into a list of substrings.

join(): Joins a list of strings into a single string.

find(): Returns the index of the first occurrence of a substring.

replace(): Replaces occurrences of a substring with another substring.

format() or f-strings: Formats strings with variables.

f-strings are more modern, and generally preferable.

format() is also still very useful.

In [3]:
str1="I am a learner"
print(str1.endswith('er'))

True

In [4]:
str2="python"
print(str2.capitalize())

Python

In [5]:
str3="I am continuous Learner"
print(str3.replace('a','o'))

I om continuous Leorner

In [12]:
print(str3.find("om"))

-1

In [11]:
print(str3.count("c"))

1

In [14]:
text = "  Python is fun!  "
print(len(text)) #output: 17
print(text.lower()) #output: "  python is fun!  "
print(text.strip()) #output: "Python is fun!"
print(text.split()) #output: ['Python', 'is', 'fun!']
words = ["Hello", "World"]
print(" ".join(words)) #output: Hello World
print(text.find("fun")) #output: 12
print(text.replace("fun", "awesome")) #output: "  Python is awesome!  "

name = "Alice"
age = 30
print(f"My name is {name} and I am {age} years old.") #f-string
print("My name is {} and I am {} years old.".format(name, age)) #format()

18
  python is fun!
Python is fun!
['Python', 'is', 'fun!']
Hello World
12
  Python is awesome!
My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.

In [16]:
str1="hello World"
print(str1.endswith("d"))
print(str1.endswith('World'))
print(str1.endswith('Worl'))

True
True
False

In [18]:
str1 = "hello, world!"
print(str1.capitalize())   # Output: Hello, world!

Hello, world!

In [19]:
list1 = ['apple', 'banana', 'cherry']
print(", ".join(list1)) # Output: apple, banana, cherry

apple, banana, cherry

In [20]:
# Positional arguments
str1 = "Name: {}, Age: {}"
print(str1.format("Alice", 30)) # Output: Name: Alice, Age: 30
# Keyword arguments
str2 = "Name: {name}, Age: {age}"
print(str2.format(name="Bob", age=25)) # Output: Name: Bob, Age: 25

Name: Alice, Age: 30
Name: Bob, Age: 25

In [22]:
str1 = " python is Fun! "
# Strip leading and trailing spaces
stripped_str = str1.strip()
print(stripped_str) # Output: python is Fun!

# Capitalize the string
capitalized_str = stripped_str.capitalize()
print(capitalized_str) # Output: Python is fun!

# Replace a substring
replaced_str = capitalized_str.replace("fun", "awesome")
print(replaced_str) # Output: Python is awesome!
# Check if the string starts with "Python"
print(replaced_str.startswith("Python")) # Output: True

# Find the index of a substring
index = replaced_str.find("is")
print(index) # Output: 7

# Count occurrences of a substring
count = replaced_str.count("is")
print(count) # Output: 1

# Split the string into a list
split_list = replaced_str.split()
print(split_list) # Output: ['Python', 'is', 'awesome']
# Join the list back into a string
joined_str = " ".join(split_list)
print(joined_str) # Output: Python is awesome

# Convert to uppercase
upper_str = joined_str.upper()
print(upper_str) # Output: PYTHON IS AWESOME
# Convert to lowercase
lower_str = upper_str.lower()
print(lower_str) # Output: python is awesome

# Format a string with placeholders
formatted_str = "Message: {}, Code: {}".format("Success", 200)
print(formatted_str) # Output: Message: Success, Code: 200

python is Fun!
Python is fun!
Python is awesome!
True
7
1
['Python', 'is', 'awesome!']
Python is awesome!
PYTHON IS AWESOME!
python is awesome!
Message: Success, Code: 200

In [23]:
a= "hello World is FiRST Program"
res=a.casefold()
print(res)

hello world is first program

In [25]:
x='Hello'
print(x.center(10,'o'))
print(x.center(15,'h'))

ooHelloooo
hhhhhHellohhhhh

In [26]:
var="Format to 2 digits {n:.2f}"
print(var.format(n=20.7811))

Format to 2 digits 20.78

Deleting and Updating String

In [4]:
str1="Hello World"
str2 = str1[:5] + 'w' + str1[7:]
print(str2)

Helloworld

In [5]:
str1= "Hi People ! This is your bro "
new_str = str1.replace('bro','Brother')
print(new_str)

Hi People ! This is your Brother

In [7]:
str1 = "Hello, World!"
str_list = list(str1)
print(str_list)
str_list[7] = 'w'# Update 'W' to 'w'
new_str = ''.join(str_list)
print(new_str) # Output: Hello, world!

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']
Hello, world!

In [8]:
str1 = "Hello, World!"
# Delete 'W'
new_str = str1[:7] + str1[8:]
print(new_str) # Output: Hello, orld!

Hello, orld!

In [9]:
str1 = "Hello, World! Welcome to the World!"
# Delete all occurrences of 'World'
new_str = str1.replace("World", "")
print(new_str) # Output: Hello, ! Welcome to the !

Hello, ! Welcome to the !

In [10]:
str1 = "Hello, World! 12345"
# Update 'W' to 'w' and delete all digits
str_list = list(str1.replace('W', 'w'))
new_str = ''.join([char for char in str_list if not char.isdigit()])
print(new_str)
# Output: Hello, world!

Hello, world!

In [11]:
str1 = "Hello, World!"
# Delete the entire string
del str1
# Trying to print str1 will raise a NameError as str1 no longer exists
try:
  print(str1)
except NameError:
  print("str1 is deleted.") # Output: str1 is deleted.

str1 is deleted.