Q1.Create one variable containing following type of data.

In [1]:
name="Neeraj"

In [2]:
type(name)

str

In [5]:
n = [7,6,9,8,5,3,7,0,9,3,4,"Hi", "Neeraj", 4+9j]

In [6]:
type(n)

list

In [7]:
a=34.45

In [8]:
type(a)

float

In [12]:
N=(1,2,3,4,5,6,7,8,9,"Hello", "World",6+7j)

In [13]:
type(N)

tuple

Q2. Given are some follwoing variavle containing data, FInd ? What will be the data type of the above given variable.

In [14]:
var1=""
type(var1)

str

In [20]:
var2="[DS,ML,PYTHON]"
type(var2)

str

In [21]:
var3=["DS","ML","Python"]

In [23]:
type(var3)

list

In [26]:
var4=1
type(var4)

int

Q3.Explain the use of the following operators using an example

/ this operator compeletly divides the no.

In [27]:
4/2

2.0

In [28]:
5/2

2.5

In [29]:
45/3

15.0

In [30]:
7/3

2.3333333333333335

% This operator is call modulous. It gives output remaindor.

In [31]:
4%3

1

In [33]:
45%7

3

In [34]:
3%2

1

In [35]:
550%100

50

// this operator gives the output quatient

In [36]:
4//3

1

In [37]:
45//7

6

In [39]:
550//100

5

** It denote the power of the no.

In [40]:
2**2

4

In [42]:
3**6

729

In [43]:
5**3

125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [9]:
l=[1,23,4,5,6,7+8j,"Neerak",89.89,True,False]
for i in l:
    print(i,type(i))

1 <class 'int'>
23 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
(7+8j) <class 'complex'>
Neerak <class 'str'>
89.89 <class 'float'>
True <class 'bool'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [19]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
count=0
while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print("Number A is divisible by number B.")
    print("It can be divided", int(A), "times.")
else:
    print("Number A is not divisible by number B.")

Enter number A:  45
Enter number B:  5

Number A is divisible by number B.
It can be divided 9 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [3]:
l=[23,34,55,6,67,8,9,34,34,34,345,34,45,6,6,7,7,7,34,34,56,34,34,56,46]
for num in l:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

23 is not divisible by 3
34 is not divisible by 3
55 is not divisible by 3
6 is divisible by 3
67 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
34 is not divisible by 3
34 is not divisible by 3
34 is not divisible by 3
345 is divisible by 3
34 is not divisible by 3
45 is divisible by 3
6 is divisible by 3
6 is divisible by 3
7 is not divisible by 3
7 is not divisible by 3
7 is not divisible by 3
34 is not divisible by 3
34 is not divisible by 3
56 is not divisible by 3
34 is not divisible by 3
34 is not divisible by 3
56 is not divisible by 3
46 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.
Ans:In Python, mutable and immutable are two fundamental properties of data types.

Immutable data types are those whose values cannot be changed after they are created. When you modify an immutable object, a new object is created in memory. Examples of immutable data types in Python include integers, floats, strings, and tuples.

mutable data types are those that can be modified after they are created. When you modify a mutable object, the changes are reflected in the same object in memory. Examples of mutable data types in Python include lists, dictionaries, and sets.

In [4]:
name = "Neeraj"
print("Original name:", name)

# Modifying the string
name += "Kumar"

print("Modified name:", name)

Original name: Neeraj
Modified name: NeerajKumar

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("Original list:", numbers)

# Modifying the list
numbers.append(6)
numbers[2] = 7

print("Modified list:", numbers)
Output:

less
Copy code
Original list: [1, 2, 3, 4, 5]
Modified list: [1, 2, 7, 4, 5, 6]
In this example, the list numbers is initially assigned the values [1, 2, 3, 4, 5]. We modify the list by appending the number 6 and changing the element at index 2 to 7. The changes are directly made to the original list object. This demonstrates that lists are mutable in Python.

Understanding the mutability and immutability of data types is important because it affects how we work with variables, pass them as arguments to functions, and manage